*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color:#70816F ;
    
}

.pai{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.cabecalho{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
   
}